.card{
    height: 200px;
    width: 100%;
}

.card-body{
    color: #ff9000;
    background-color: #000000;
    text-align: center;
}

.card-link{
    color: #ff9000;
}   
.alineadores{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #000000, #36181d, #68272b, #9a3b30, #ca552c, #dd674a, #ef7967, #ff8d83, #ffa7ba, #fbc6e2, #f4e3f8, #fdfdfd);
    }
    
    .cardo2-img-top{
        width: 950px;
    }

    .cardo1-text{
        color: #f4e3f8;
    }
    .cardo1-title{
        color: #f4e3f8;
    }