h2{
    text-align: center;
    color: black;
    font-size: 70px;
    word-spacing: 2px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}


@keyframes aparecer {
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
        }        
.col{
    height: 250px;
    width: 150px;
    background-color: black;
    border: 5px solid orange;
}
.col1{
    background-image: url(./img/bastante\ 2.jpg);
    background-size: cover;
}
.col2{
    background-image: url(./img/bastante\ mas\ 3.jpg);
    background-size: cover;
}
.col3{
    background-image: url(./img/WhatsApp\ Image\ 2023-04-26\ at\ 21.26.51.jpeg);
    background-size: cover;
}
