*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.indexbody{
    background-image: linear-gradient(to bottom, #ff9000, #ff906d, #ffa3b3, #ffc1e6, #ffdfff, #e3d3ea, #ccc7d3, #b9b9b9, #878787, #585858, #2e2e2e, #000000);  
}

h1{
font-size: 60px;
text-align: center;
color: black;

}


@import "_galeria" ;


@import "_mediaquyres" ;


@import "_bastante+";


@import "_docentes";








@import "_redes" ;

@import "_alineadores" ;






