* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #ff9000, #ff906d, #ffa3b3, #ffc1e6, #ffdfff, #e3d3ea, #ccc7d3, #b9b9b9, #878787, #585858, #2e2e2e, #000000);
}

h1 {
  font-size: 60px;
  text-align: center;
  color: white;
}

.galeria {
  height: 100%;
  width: 100%;
  background-color: orange;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  grid-template-areas: "img1 img2 img3";
  padding: 15px;
  grid-gap: 15px;
  border-radius: 10px;
}

.img {
  border-radius: 10px;
  background-position: center;
}

.img:hover {
  transform: scale(1.09);
  transition: all 0.9s;
  box-shadow: inset;
}

.img1 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-04\ at\ 16.05.26.jpeg);
  border: 4px solid black;
  background-size: cover;
}

.img2 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-04\ at\ 16.05.25.jpeg);
  border: 4px solid black;
  background-size: cover;
}

.img3 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-04\ at\ 16.05.24.jpeg);
  border: 4px solid black;
  background-size: cover;
}

.img4 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-10\ at\ 20.17.34.jpeg);
  background-size: cover;
  border: 4px solid black;
}

.img5 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-04\ at\ 16.05.28.jpeg);
  border: 4px solid black;
  background-size: cover;
}

.img6 {
  background-image: url(img/WhatsApp\ Image\ 2023-04-04\ at\ 16.05.32.jpeg);
  border: 4px solid black;
  background-size: cover;
}

@media only screen and (min-width: 280px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
  }
  .img1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .img2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .img4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .img5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .img6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 390px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
  .img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .img2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .img3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .img4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .img5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .img6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
h2 {
  text-align: center;
  color: black;
  font-size: 70px;
  word-spacing: 2px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.col {
  height: 250px;
  width: 150px;
  background-color: black;
  border: 5px solid orange;
}

.col1 {
  background-image: url(./img/bastante\ 2.jpg);
  background-size: cover;
}

.col2 {
  background-image: url(./img/bastante\ mas\ 3.jpg);
  background-size: cover;
}

.col3 {
  background-image: url(./img/WhatsApp\ Image\ 2023-04-26\ at\ 21.26.51.jpeg);
  background-size: cover;
}

.trabajo {
  display: flex;
  justify-content: space-evenly;
  background-color: orange;
}

.carde {
  height: 300px;
  width: 420px;
  background-color: orange;
  border: 5px solid black;
}

.carde1 {
  background-image: url(img/alfredo\ 1.jpeg);
  background-size: cover;
}

.carde2 {
  background-image: url(img/alfredo\ 2.jpeg);
  background-size: cover;
}

.carde3 {
  background-image: url(img/alfredo\ 3.jpeg);
  background-size: cover;
}

h3 {
  text-align: center;
  color: black;
}

.page1 {
  background-image: url(img/WhatsApp\ Image\ 2023-03-25\ at\ 18.57.16.jpeg);
  background-size: cover;
}

.page2 {
  background-image: url(img/WhatsApp\ Image\ 2023-03-25\ at\ 18.57.16.jpeg);
  background-size: cover;
}

.page3 {
  background-image: url(img/WhatsApp\ Image\ 2023-03-25\ at\ 18.57.16.jpeg);
  background-size: cover;
}

h6 {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 10px 20px 10px 10px;
}

.redes {
  width: 100%;
  height: 80px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: center;
  font-size: 50px;
}

.redes a {
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 420px;
}

.redes:hover {
  transform: scale(1.09);
  transition: all 0.9s;
  background-color: orange;
}

.redes {
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */